



/* .playfield {
    transform: translateX(50%);
} */

.table {
    width: 400px; 
    height: 800px;
    top: 0px;
    left: 0px;
    /* background: url('assets/pinball-table.jpg') -10px -10px; */
    background-color: blanchedalmond;
    /* transform: scale(2); */
}

.screen {
    background-color: #a8d8e4;
}

/* .ball {
	position: absolute;
	top: 70px;
	left: 150px;
	width: 40px;
	height: 40px;
	border-radius: 67px;
    background: #f9ad77;
    box-shadow: inset 6px 6px 12px #d49365, inset -6px -6px 12px #ffc789;
} */

.flipper{
    position: absolute;
    background: #f9ad77;
    width: 140px;
    height: 50px;
    background-size: 100px 40px;
    transition: all 0.1s ease-out;
}

.flipper-left{
    top: 500px;
    left: 120px;
    clip-path: polygon(80% 40%, 80% 60%, 0 80%, 0 20%);
    transform: rotateZ(45deg);
    transform-origin: 0%;
}

.flipper-left.triggered{
    transform: rotateZ(0deg);
}

.flipper-right{
    top: 500px;
    left: 240px;
    clip-path: polygon(80% 80%, 80% 20%, 0 40%, 0 60%);
    transform: rotateZ(-45deg);
    transform-origin: 78%;
}

.flipper-right.triggered{
    transform: rotateZ(0deg);
}

.bumper {
    position: absolute;
    border-radius: 50%;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}


.b1 {
    top: 200px;
    left: 300px;
    height: 50px;
    width: 50px;
    background-color: rgb(207, 27, 183);
    animation-play-state: paused;
    animation-name: animation1;
}
@keyframes animation1 {
    from { box-shadow: 0px 0px 0px 0px rgb(207, 27, 183); }
    to { box-shadow: 0px 0px 80px 48px rgb(207, 27, 183); }
}

.b2 {
    border-radius: 50%;
    top: 400px;
    left: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(49, 216, 238);
    animation-play-state: paused;
    animation-name: animation2;

}
@keyframes animation2 {
    from { box-shadow: 0px 0px 0px 0px rgb(49, 216, 238); }
    to { 
        box-shadow: 0px 0px 20px 20px rgb(49, 216, 238); 
        transition: rotate 1s;
    }
}

.b3 {
    top: 350px;
    left: 250px;
    height: 50px;
    width: 50px;
    background-color: rgb(76, 231, 135);
    animation-play-state: paused;
    animation-name: animation3;
}
@keyframes animation3 {
    0% { 
        box-shadow: 0px 0px 0px 0px rgb(76, 231, 135);
        background-color: rgb(76, 231, 135);  
    }
    60% { 
        box-shadow: 0px 0px 40px 44px rgb(76, 231, 135);
        background-color: rgb(76, 231, 135);  
    }
    100% { 
        box-shadow: 0px 0px 80px 48px rgb(3, 59, 24);
        background-color: rgb(3, 59, 24); 
    }
}

.wall {
    position: absolute;
    transform-origin: 0% 0%;
}

.w1 {
    left: 100px;
    top: 690px;
    height: 10px;
    width: 200px;
    transform: rotateZ(-30deg);
    background-color: darkcyan;
}

.w2 {
    left: 70px;
    top: 300px;
    height: 10px;
    width: 200px;
    transform: rotateZ(-20deg);
    background-color: hotpink;
}
