

.playfield {
    z-index: 1;
    position: absolute;
}

.bg {
    /* width: 100%; */
    height: 1800px;
    /* object-fit: cover; */
}

.table {
    position: absolute;
    width: 1080px; 
    height: 1800px;
    top: 0px;
    left: 0px;
    z-index: 2;
    transform: translateX(400px);
}

.screen {
    background-color: #a8d8e4;
}

.ball {
	position: absolute;
	top: 70px;
	left: 150px;
	width: 40px;
	height: 40px;
	border-radius: 67px;
    /* background: #f9ad77;
    box-shadow: inset 6px 6px 12px #d49365, inset -6px -6px 12px #ffc789; */
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(168,78,160,1) 63%, rgba(213,174,126,1) 100%);
}

.flipper-left{
    transform-origin: 0%;
}

.flipper-right{
    transform-origin: 100%;
}

.bumper {
    position: absolute;
    border-radius: 50%;
    
}

.b1 {
    top: 285px;
    left: 363px;
    height: 390px;
    width: 390px;
    background-color: rgb(216, 19, 127);
    animation: animation1 5s infinite;
}
@keyframes animation1 {
    0% { box-shadow: 0px 0px 0px 0px rgb(216, 19, 127); }
    50% { box-shadow: 10px 10px 21px 0px rgb(184, 15, 108); }
    100% { box-shadow: 0px 0px 0px 0px rgb(216, 19, 127); }
}

.b2 {
    border-radius: 50%;
    top: 600px;
    left: 90px;
    height: 100px;
    width: 100px;
    background: linear-gradient(90deg, rgb(221, 5, 34) 0%, rgb(180, 52, 127) 70%, rgb(228, 4, 228) 100%);
    animation: animation2 0.1s infinite;
}
@keyframes animation2 {
    from { box-shadow: 0px 0px 0px 0px rgb(78, 5, 60); }
    to { 
        box-shadow: 0px 0px 20px 20px rgb(78, 5, 60); 
        transition: rotate 1s;
    }
}

.b3 {
    top: 350px;
    left: 250px;
    height: 50px;
    width: 50px;
    background: repeating-radial-gradient(rgb(78, 24, 58), rgb(99, 2, 7) 2px, rgb(124, 36, 226) 5px, rgb(121, 11, 75) 10px);
}

.wall {
    position: absolute;
    transform-origin: center left;
    background-color: rgb(255, 255, 255);
    animation: neon1 1.5s cubic-bezier(0.52, -0.29, 0.24, 1.72) infinite;
}
@keyframes neon1 {
    0% { box-shadow: 0px 0px 20px 0px rgba(255,17,119,1); }
    50% { box-shadow: 0px 0px 20px 10px rgba(255,17,119,1); }
    100% { box-shadow: 0px 0px 20px 0px rgba(255,17,119,1); }
  }

.w1 {
    left: 20px;
    top: 1200px;
    height: 10px;
    width: 1200px;
    transform: rotateZ(-90deg);
}

.w2 {
    left: 20px;
    top: 1200px;
    height: 10px;
    width: 500px;
    transform: rotateZ(45deg);
}

.w3 {
    left: 980px;
    top: 1200px;
    height: 10px;
    width: 1080px;
    transform: rotateZ(-90deg);
}

.w4 {
    left: 980px;
    top: 1200px;
    height: 10px;
    width: 500px;
    transform: rotateZ(135deg);
}

.w5 {
    left: 20px;
    top: 5px;
    height: 10px;
    width: 960px;
    transform: rotateZ(0deg);
}

.w6 {
    left: 1080px;
    top: 90px;
    height: 10px;
    width: 1110px;
    transform: rotateZ(90deg);
}

.w7 {
    left: 980px;
    top: 5px;
    height: 10px;
    width: 135px;
    transform: rotateZ(40deg);
}

.start {
    position: absolute;
    transform-origin: center left;
    left: 1010px;
    top: 1190px;
    border-radius: 20%;
    height: 10px;
    width: 40px;
    transform: rotateZ(0deg);
    animation-duration: 0.3s;
    animation-name: start;
    animation-iteration-count: infinite;
    background-color: rgb(94, 84, 231);

}
@keyframes start {
    0% { box-shadow: 0px 0px 10px 10px rgb(216, 21, 21); }
    70% { box-shadow: 0px 0px 20px 20px rgb(24, 19, 66); }
    100% { box-shadow: 0px 0px 5px 5px rgb(80, 21, 7); }
}

.star {
    position: absolute;
    top: 1100px;
    left: 700px;
    width: 50px;
    height: 3px;
    background-color: darkred;
    box-shadow: 0px 0px 5px 10px #5e109e; 
    transform-origin: center left;
}

.s1 {
    transform: rotateZ(0deg);
}

.s2 {
    transform: rotateZ(36deg);
}

.s3 {
    transform: rotateZ(-36deg);
}

.s4 {
    transform: rotateZ(72deg);
}

.s5 {
    transform: rotateZ(-72deg);
}

.s6 {
    transform: rotateZ(108deg);
}

.s7 {
    transform: rotateZ(-108deg);
}

.s8 {
    transform: rotateZ(144deg);
}

.s9 {
    transform: rotateZ(-144deg);
}

.s10 {
    transform: rotateZ(180deg);
}

.invisible{
    display: none;
}

.test {
    background-color: darkmagenta;
    position: absolute;
    left: 100px;
    top: 690px;
    width: 50px;
}